body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffcc00;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d40000;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

#sugerencias form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#sugerencias input, #sugerencias textarea {
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #d40000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #990000;
}
